@import "./Enigma/index.css";
/* @import "./TextBoxes.css"; */

.main-container {
    display: grid;
    grid-template-columns: 1fr 800px 1fr ;
    grid-template-rows: 300px 1fr;
    grid-template-areas:
    "A A A"
    "B C D";
    /* width: 100%;
    height: 100%; */
    /* margin: auto; */
}

