@import "../Main.css";

.enigma-container {
    grid-area: C;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 1fr  1fr;
    grid-template-areas: 
    "A B C"
    "D D D"
    "E E E";
    min-width: 800px;
    height: 550px;
    margin: auto;
    background-color:  olive;
    /* margin-top: px; */
}

.reflector-container {
    display: flex;
    justify-content: center;
    background-color: olivedrab;
}

.rotors-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: peru;
}

.lightboard-container {
    grid-area: D;
    height: 100%;
    width: 100%;
    /* display: flex;
    justify-content: center; */
    background-color:dimgray;
}

.plugboard-container {
    grid-area: E;
    height: 100%;
    width: 100%;
    /* display: flex;
    justify-content: center; */
    background-color: darkslategrey;
}

/* .rotor-selector {
    grid-area: C;
} */