@import "../Main.css";

.enigma-container {
    grid-area: C;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 1fr  1fr;
    grid-template-areas: 
    "A A A"
    "D D D"
    "E E E";
    width: 800px;
    height: 550px;
    color: rgb(192, 192, 192);
    box-shadow:12px 12px 20px black;
    background-image: url('https://wallpaperaccess.com/full/4607355.jpg');
    background-size: cover;
}

.reflector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px rgb(192, 192, 192);
    box-shadow: inset 2px 2px 4px black, inset -0.5px -0.5px 3px rgb(223, 223, 223);
}

.rotors-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px silver;
    box-shadow: inset 2px 2px 4px black, inset -0.5px -0.5px 3px rgb(223, 223, 223);
}

.rotor-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border: solid 2px silver;
    box-shadow: inset 2px 2px 4px black, inset -0.5px -0.5px 3px rgb(223, 223, 223);
}

.lightboard-container {
    grid-area: D;
    border: solid 2px silver;
    background-image: url('https://wallpaperaccess.com/full/3435249.jpg');
    background-size: cover;
    box-shadow: inset 2px 2px 4px black, inset -0.5px -0.5px 3px rgb(223, 223, 223);
}

.plugboard-container {
    grid-area: E;
    border: solid 2px silver;
    background-image: url('https://wallpaperaccess.com/full/4607413.jpg');
    background-size: cover;
    box-shadow: inset 2px 2px 4px black, inset -0.5px -0.5px 3px rgb(223, 223, 223);
}
