@import "../Main.css";

.enigma-container {
    grid-area: C;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 1fr  1fr;
    grid-template-areas: 
    "A B C"
    "D D D"
    "E E E";
    width: 800px;
    height: 550px;
    /* margin: auto; */
    color: silver;
    /* background-color:  olive; */
    /* margin-top: px; */
    box-shadow:12px 12px 20px black;
    background-image: url('https://wallpaperaccess.com/full/4607355.jpg');
    background-size: cover;
}

h1:hover {
    color: rgb(255, 241, 160);
    text-shadow: 0 0 20px rgb(248, 237, 171);
}

.reflector-container {
    display: flex;
    justify-content: center;
    border: solid 2px silver;
    /* background-color: olivedrab; */
}

.rotors-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px silver;
    /* background-color: peru; */
}

.rotor-selector {
    border: solid 2px silver;
}

.lightboard-container {
    grid-area: D;
    /* height: 100%;
    width: 100%; */
    /* display: flex;
    justify-content: center; */
    border: solid 2px silver;
    /* background-color:dimgray; */
    background-image: url('https://wallpaperaccess.com/full/3435249.jpg');
    background-size: cover;
}

.plugboard-container {
    grid-area: E;
    /* height: 100%;
    width: 100%; */
    /* display: flex;
    justify-content: center; */
    border: solid 2px silver;
    /* background-color: darkslategrey; */
    background-image: url('https://wallpaperaccess.com/full/4607413.jpg');
    background-size: cover;
}

/* .rotor-selector {
    grid-area: C;
} */