@import './index.css';

.lightboard {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: 
    "Q W E R T Z U I O"
    "A S D F G H J K"
    "P Y X C V B N M L";
    width: 100%;
    height: 100%;
}

.character-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: 900;
    height: 50px;
    width: 50px;
    border-radius: 200px;
    margin: 8px;
    background-image: url('https://wallpaperaccess.com/full/1866719.jpg');
    background-size: cover;
    box-shadow: inset 2px 2px 4px black;
}

.character-container:hover {
    color: rgb(241, 224, 124);
    text-shadow: 0 0 20px rgb(248, 237, 171);
    /* animation: glow 1s ease-in-out infinite alternate; */
}
/* 
@-webkit-keyframes glow {
  from {
    text-shadow: 6px 6px 10px #fff, 6px 6px 20px #fff, 6px 6px 30px #e68200, 6px 6px 40px #e68200, 6px 6px 50px #e68200, 6px 6px 60px #e68200, 6px 6px 70px #e68200;
  }
  
  to {
    text-shadow: 6px 6px 20px #fff, 6px 6px 30px #ffde4d, 6px 6px 40px #ffde4d, 6px 6px 50px #ffde4d, 6px 6px 60px #ffde4d, 6px 6px 70px #ffde4d, 6px 6px 80px #ffde4d;
  }
} */