@import './index.css';

.lightboard {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: 
    "Q W E R T Z U I O"
    "A S D F G H J K"
    "P Y X C V B N M L";
    width: 100%;
    height: 100%;
}

.character-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 900;
}