@import './index.css';



.rotor-selector-top-row {
    display: flex;
    justify-content: space-around;
}

.rotor-selector-bottom-row {
    display: flex;
    justify-content: space-around;
}

.rotor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpaperaccess.com/full/1866719.jpg');
    background-position: center;
    width: 65px;
    border-radius: 6px;
    box-shadow: inset 2px 2px 4px black, inset -0.5px -0.5px 3px rgb(223, 223, 223);
    
}

.selected-rotor,
.unselected-rotor {
    font-size: 35px;
    font-weight: 900;
    cursor: pointer;
}

.selected-rotor {
    color: rgb(255, 241, 160);
    text-shadow: 0 0 20px rgb(248, 237, 171);
}