@import './index.css';



.rotor-selector-top-row {
    display: flex;
    justify-content: space-around;
}

.rotor-selector-bottom-row {
    display: flex;
    justify-content: space-around;
}

/* .rotor-one,
.rotor-two,
.rotor-three,
.rotor-four,
.rotor-five {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} */
/* .rotor-one {
    grid-area: A;
}
.rotor-two {
    grid-area: B;
}
.rotor-three {
    grid-area: C;
}
.rotor-four {
    grid-area: D;
}
.rotor-five {
    grid-area: E;
} */