@import './index.css';

.rotor-selector {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "A B C"
    "D E F";
    height: 100%;
    width: 100%; */
}

.rotor-selector-top-row {
    display: flex;
    justify-content: space-around;
}

.rotor-selector-bottom-row {
    display: flex;
    justify-content: space-around;
}
/* .rotor-one,
.rotor-two,
.rotor-three,
.rotor-four,
.rotor-five {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} */
/* .rotor-one {
    grid-area: A;
}
.rotor-two {
    grid-area: B;
}
.rotor-three {
    grid-area: C;
}
.rotor-four {
    grid-area: D;
}
.rotor-five {
    grid-area: E;
} */