.footer-links-container {
    display: flex;
    justify-content: space-between;
    width: 100px;
    font-size: 40px;
    position: absolute;
    bottom: 10px;
    right: 80px;
}

.github-link,
.linkedin-link{
    text-decoration: none;
    color: black;
}

.built-by {
    margin-left: 20px;
    color: black;

}
